---
- name: Setup MacOS Development Environment
  hosts: localhost
  become: false
  vars_files:
    - "../config/packages.json"
    - "../config/config.json"
    - "../config/shell_config.json"
    
  vars:
    python_version: "3.11.8"  # Specify the Python version you want to use
    use_uv: "{{ feature_flags.use_uv_package_manager | default(false) }}"
    use_pyenv: "{{ feature_flags.use_pyenv | default(false) }}"
    use_custom_prompt: "{{ feature_flags.custom_shell_prompt | default(false) }}"
    use_alias_compat: "{{ feature_flags.alias_compatibility | default(false) }}"

  tasks:
    - name: Run software update
      command: softwareupdate --install -a
      
    - name: Install Homebrew packages
      community.general.homebrew:
        name: "{{ brew_packages }}"
        state: present

    - name: Install Cask applications
      community.general.homebrew_cask:
        name: "{{ item }}"
        state: present
      loop: "{{ brew_cask_apps }}"

    - name: Install Mac App Store applications
      community.general.mas:
        id: "{{ item.id }}"
        state: present
      loop: "{{ mas_apps }}"

    # Python environment setup with pyenv if enabled
    - name: Configure Python with pyenv
      block:
        - name: Ensure .pyenv directory exists
          file:
            path: "{{ ansible_env.HOME }}/.pyenv"
            state: directory
            mode: '0755'

        - name: Install Python with pyenv
          shell: |
            eval "$(pyenv init -)"
            pyenv install {{ python_version }} -s
            pyenv global {{ python_version }}
          args:
            executable: /bin/zsh
            creates: "{{ ansible_env.HOME }}/.pyenv/versions/{{ python_version }}"

        - name: Upgrade pip
          shell: |
            eval "$(pyenv init -)"
            pip install --upgrade pip
          args:
            executable: /bin/zsh
      when: use_pyenv | bool

    # UV package manager setup if enabled
    - name: Configure UV package manager
      block:
        - name: Create UV virtualenv directory
          file:
            path: "{{ ansible_env.HOME }}/.venvs"
            state: directory
            mode: '0755'

        - name: Install Python packages with UV
          shell: |
            eval "$(pyenv init -)" 
            uv pip install {{ item }}
          args:
            executable: /bin/zsh
          loop: "{{ pip_packages }}"
      when: use_uv | bool

    # Install Python packages with regular pip if UV is not enabled
    - name: Install Python packages with pip
      shell: |
        eval "$(pyenv init -)"
        pip install {{ item }}
      args:
        executable: /bin/zsh
      loop: "{{ pip_packages }}"
      when: not use_uv | bool

    # Configure zshrc with shell additions
    - name: Configure zshrc with pyenv
      blockinfile:
        path: ~/.zshrc
        create: yes
        marker: "# {mark} ANSIBLE MANAGED BLOCK - Pyenv Configuration"
        block: "{{ zsh_additions | selectattr('name', 'equalto', 'pyenv_config') | map(attribute='content') | join('') }}"
      when: use_pyenv | bool

    - name: Configure zshrc with UV
      blockinfile:
        path: ~/.zshrc
        create: yes
        marker: "# {mark} ANSIBLE MANAGED BLOCK - UV Configuration"
        block: "{{ zsh_additions | selectattr('name', 'equalto', 'uv_config') | map(attribute='content') | join('') }}"
      when: use_uv | bool

    - name: Configure zshrc with custom prompt
      blockinfile:
        path: ~/.zshrc
        create: yes
        marker: "# {mark} ANSIBLE MANAGED BLOCK - Custom Prompt"
        block: "{{ zsh_additions | selectattr('name', 'equalto', 'custom_prompt') | map(attribute='content') | join('') }}"
      when: use_custom_prompt | bool

    - name: Configure zshrc with compatibility aliases
      blockinfile:
        path: ~/.zshrc
        create: yes
        marker: "# {mark} ANSIBLE MANAGED BLOCK - Compatibility Aliases"
        block: |
          {{ zsh_additions | selectattr('name', 'equalto', 'neofetch_alias') | map(attribute='content') | join('') }}
          {{ zsh_additions | selectattr('name', 'equalto', 'lsblk_alias') | map(attribute='content') | join('') }}
      when: use_alias_compat | bool